/* CSS Document */

/*********/
/* FONTS */
/*********/
* {
	font-family: 'League Gothic', sans-serif;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
	margin: 0px;
}

button,
summary {
	cursor: pointer;
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-main: #111;
	--color-background: #7cbbc9;
	--color-first: #000;
	--color-second: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-main: #111;
		--color-background: #000;
		--color-first: #fff;
		--color-second: #000;
	}
}
/****************/
/* Algemene css */
/****************/
body {
	font-family: eenfont, sans-serif;
	color: var(--color-main);
	background-color: var(--color-background);
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

.tub-hidden {
	display: flex;
}

.opacity {
	opacity: 0;
	transition: 1s;
}

h2 {
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin: 20px;
}

h1 {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: 600;
	margin: 20px;
}

.hidden {
	display: none;
}

button {
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

button:hover {
	opacity: 0.7;
	transition: 0.3s;
}

/****************/
/* bad facts */
/****************/
#list-bad-facts .button-card-bad {
	display: none;
}

@keyframes animtionDel {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
		opacity: 0;
	}
}

.animtion-del {
	animation-name: animtionDel;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

section:nth-of-type(2) {
	position: fixed;
	width: 100vw;
	inset: 0;
	z-index: 4;
	overflow-y: scroll;
	background-color: #000000de;
	transition: transform 0.4s ease-in-out 0s;
	transform: translateX(0);
}

section:nth-of-type(2).hidden-bad-overlay {
	transform: translateX(-100%);
}

/****************/
/* good facts */
/****************/
#list-favorite-facts .button-card-favorite {
	display: none;
}

@keyframes animtionfavo {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50%);
		opacity: 0;
	}
}

.animtion-favo {
	animation-name: animtionfavo;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
section:nth-of-type(4).hidden-favorite-overlay {
	transform: translateX(100%);
}

section:nth-of-type(4) {
	position: fixed;
	width: 100vw;
	inset: 0;
	z-index: 4;
	overflow-y: scroll;
	background-color: #000000de;
	transition: transform 0.4s ease-in-out 0s;
	transform: translateX(0);
}

/****************/
/* good and bad facts */
/****************/
.button-card-bad img,
.button-card-favorite img {
	width: 35px;
	height: auto;
}

#list-favorite-facts .card .icons-card,
#list-bad-facts .card .icons-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.add-api-text {
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
}

.add-api-text p {
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}

section:nth-of-type(4) .button-close-favorite-overlay,
section:nth-of-type(2) .button-close-bad-overlay {
	width: 75px;
	margin-left: auto;
	padding: 15px 15px 0px 15px;
	height: 35px;
}

#list-favorite-facts,
#list-bad-facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	max-height: 100%;
}

/****************/
/* section body */
/****************/
section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.card {
	width: 90%;
	max-width: 500px;
	min-height: 250px;
	background-color: #f2f0f0;
	padding: 15px;
	border-radius: 6px;
	margin-bottom: 20px;
}

section:nth-of-type(3) .card {
	width: 90vw;
	max-width: 500px;
}

.icons-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 30%;
}

nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	height: 25vh;
}

nav button{
	width: 100px;
	display: flex;
    align-items: center;
    justify-content: center;
}

nav button img{
	max-width: 100%;
    max-height: 93px;
}

@keyframes animtiontub {
	0% {
		margin-bottom: 0px;
		transform: scale(1);
	}
	100% {
		margin-bottom: 20px;
		transform: scale(1.1);
	}
}

.tub-animation {
	animation-name: animtiontub;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/****************/
/* message */
/****************/
section:nth-of-type(1) {
	display: none;
}

/****************/
/* Responsive */
/****************/
@media (min-width: 1200px) {
	section:nth-of-type(4) {
		width: 25vw;
		background-color: #38b000;
		transform: translateX(0) !important;
		position: unset;
		z-index: 1;
	}


	section:nth-of-type(2) {
		width: 25vw;
		background-color: #c82828;
		transform: translateX(0) !important;
		position: unset;
		z-index: 1;
	}

	body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	section:nth-of-type(3) {
		width: 50vw;
	}

	nav .button-nav-cards {
		display: none;
	}

	nav .button-nav-bad {
		display: none;
	}

	#list-bad-facts .icons-card {
		display: none;
	}

	#list-favorite-facts .icons-card {
		display: none;
	}

	.button-close-favorite-overlay,
	section:nth-of-type(2) .button-close-bad-overlay {
		display: none;
	}

	section:nth-of-type(1) {
		position: absolute;
		z-index: 1;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		display: flex;
		width: 40vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section:nth-of-type(1) img {
		height: 50px;
		width: auto;
	}

	.tub-hidden {
		display: none;
	}

	section:nth-of-type(3) .card {
		width: 40vw;
		max-width: 500px;
	}

}
